$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '../bower_components/simply-sewphisticated-bootstrap/app/styles/ss-bootstrap';

img {
  display: block;
  max-width: 100%;
  height: auto;
}
