$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Core variables and mixins

@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/variables";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/mixins";
@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/mixins";

// Import sprites AFTER mixins
@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/sprites";

// Reset
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/normalize";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/print";

// Core CSS
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/scaffolding";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/type";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/code";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/grid";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/tables";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/forms";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/buttons";

// Components
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/component-animations";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/glyphicons";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/dropdowns";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/button-groups";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/input-groups";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/navs";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/navbar";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/breadcrumbs";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/pagination";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/pager";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/labels";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/badges";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/jumbotron";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/thumbnails";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/alerts";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/progress-bars";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/media";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/list-group";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/panels";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/wells";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/close";

// Custom Components
@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/blog";
@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/pagination";
@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/footer";

// Components w/ JavaScript
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/modals";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/tooltip";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/popovers";
// @import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/carousel";

// // Import sprites AFTER mixins
// @import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/sprites";

// Utility classes
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/utilities";
@import "../bower_components/simply-sewphisticated-bootstrap/app/bower_components/sass-bootstrap/lib/responsive-utilities";

@import "../bower_components/simply-sewphisticated-bootstrap/app/styles/lib/theme";


img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Import the font file with the icons in it */
@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

/* Each icon is created by inserting the corret character into the
   content of the :before pseudo element. Like a boss. */
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}
